.fontWeight{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.title{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

.containerHeight{
    min-height: 80vh;
}

.bodyText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.userIcons{
    position: fixed;
    bottom: 30px;
}

.userIcons img{
    width: 20px;
    margin: 0px 10px 0px;
}

.userIcons img:hover{
    opacity: 0.5;
}

#sideBackground{
    background-color: #64ffda;
    width: 375px;
    height: 200px;
    position: absolute;
    z-index: -1;
}

.navbar{
    background-color: #64ffda;
}

.progress{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 1;
    height: 5px;
}

.holidayCards > div:nth-child(1){
    background-color: #64ffda;
    padding: 0px 10px;
}